.carousel {
  max-width: $mantine-breakpoint-md;
  margin: 1em auto;
  height: fit-content;
}

.slide {
  padding: 0 3em;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.image {
  margin: 0 auto;
}
